<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>{% block title %}管理员{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main_style_min.css">
        <script src="/js/bootstrap.bundle.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand bg-white shadow-sm">  
            <div class="container">
                <a class="navbar-brand fw-bold text-primary" href="/admin">
                    <i class="bi bi-chat-square-text fs-4"></i>
                    管理员首页
                </a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        校园墙
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/wall">龙高校园墙</a></li>
                    </ul>
                </div>

                <div class="navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        
        {% block body_end %}
        {% endblock %}
    </body>
</html>